<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Calificaciones de <%= @grade.student_name %></h1>
    <%= link_to 'Agregar Nueva Nota', new_admin_grade_path(user_id: @grade.user_id), class: 'btn btn-primary' %>
  </div>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#semester1">Primer Semestre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#semester2">Segundo Semestre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#semester3">Tercer Semestre</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="semester1">
      <%= render 'semester_table', grades: @semesters[1] %>
    </div>
    <div class="tab-pane fade" id="semester2">
      <%= render 'semester_table', grades: @semesters[2] %>
    </div>
    <div class="tab-pane fade" id="semester3">
      <%= render 'semester_table', grades: @semesters[3] %>
    </div>
  </div>

  <%= link_to 'Volver al listado', admin_grades_path, class: 'btn btn-secondary mt-3' %>
</div>